<?xml version="1.0"?>
<config>
    <modules>
        <Snowcore_Blog>
            <version>0.1.6</version>
        </Snowcore_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Snowcore_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <snowcore_blog>
                    <file>blog.xml</file>
                </snowcore_blog>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Snowcore_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <snowcore_blog>
                    <file>blog.xml</file>
                </snowcore_blog>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <blog>
                <class>Snowcore_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Snowcore_Blog_Model_Mysql4</class>
                <entities>
                    <article>
                        <table>blog_articles</table>
                    </article>
                    <comment>
                        <table>blog_comments</table>
                    </comment>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Snowcore_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Snowcore_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Snowcore_Blog_Helper</class>
            </blog>
        </helpers>
        <rewrite>
            <blog>
                <from><![CDATA[/blog\/((.*)+(\.html))/]]></from>
                <to><![CDATA[blog/index/view/slug/$1/]]></to>
                <complete>1</complete>
            </blog>
        </rewrite>
    </global>
</config>